@page "/cart"
@model CartModel




<div >
    <div class="text-center display-6"> sepet </div>

    <table >
        <thead>
            <tr>
        <th>Ürün</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>adet fiyatı</th>
        <th>
            <form></form>


        </th>
        </thead>
        <tbody>
            @foreach (var item in Model.Cart?.Lines ?? Enumerable.Empty<CartLine>())
            {
              <tr>
               <th>@item.product.ProductName</th>
               <th>@item.Quantity</th>
               <th>@item.product.Price.ToString("C")</th>
               <th>@((item.product.Price* item.Quantity).ToString("c2"))</th>
                <th>
                   <form method="post" asp-page-handler="Remove">
                     

                     <input type="hidden" name="id" value="@item.product.ProductId" />
                     <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                     <button  type="submit" class="btn btn-sm btn-danger" >

                         <i class="fa fa-trash"></i>
                         Kaldır

                     </button>

                   </form>
                </th>
              </tr>    
         }

        </tbody>
        <tfoot>
            <tr >
                <td colspan="3" class="text-right"> Toplam fiyat </td>
                <td class="text-right text-danger">
                       @Model.Cart?.computeTotalValue().ToString("c2")
                </td>
            </tr>
        

        </tfoot>

        
    

    </table>
    <div class="text-center my-3" >
        <div class="btn-group">
            <a class="btn btn-primary" href="@Model?.ReturnUrl"> Alışverişe devam et</a>
            <a class="btn btn-primary mx-2" asp-action="Checkout" asp-controller="Order"> Ödeme yap</a>
        </div>

    </div>

</div>